*.ids
*.iml
.idea/
out/
.classpath
.project
.settings/
target/
classes/
web-app/WEB-INF/tld/c.tld
web-app/WEB-INF/tld/fmt.tler
stacktrace.log
web-app/WEB-INF/tld/fmt.tld
cobertura.ser
*.log
logs/

# rvm
.ruby-version
.ruby-gemset


# sass\compiled css
web-app/css/*
.sass-cache

# random stuff that should be ignored
out.*
**Gemfile.lock
vendor/**
**.bundle/

